<!-- <h2> Log In </h2> -->

<% if (errorMessage) { %>
  <p class="error-message ctrd">
    <%= errorMessage %>
  </p>
<% } %>

  <div id="wrapper">
    <form name="login-form" action="/login" method="post" class="login-form">
      <div class="header">
        <h4>Login Form</h4>
        <span>Enter your login credentials</span>
      </div>
<div class="content">
      <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input"
          placeholder="ceo@yourcompany.com" class="input username">
        <div class="user-icon"></div>
      </div>

      <div>
        <label for="password-input"> Pwd </label>
        <input type="password" name="password" class="input password"
          placeholder="e.g., ••••••••••••">
          <div class="pass-icon"></div>
      </div>
</div>

  <div class="footer">
      <button> Log In </button>
  </div>
    </form>
  </div>

<p>
  Don't have an account?
  <a href="/signup">
    Request access.
  </a>
</p>
