<!-- <h1><%= title %></h1> -->

<!-- <p>Welcome to <%= title %></p> -->
<div class="bigone">

<nav class="ctrd">
  <ul>
    <% if (!isUserLoggedIn) { %>
    <!-- <li> <a href="/signup"> Sign Up </a> </li> -->
    <!-- <a href="/login" class="ctrd"> Log In   </a> -->
    <button type="submit" class="floatrightdiv"><a href="/login"> Log In </a></button>
    <!-- <button type="submit" class="floatrightdiv"><a href="/login" class='edit-btn blck-btn'> Log In </a></button> -->

    <% } else { %>
    <br>    <br>    <br>    <br>
    <h2><a href="/decisioners"> Admin Section (add edit or delete users) </a></h2>
    <br>    <br>    <br>    <br>
    <h2><a href="/projects"> My projects </a></h2>
    <% } %>
  </ul>
</nav>

<% if (!isUserLoggedIn) { %>
  <!-- <p class="rght" id="banner"> A responsive tool to visualize your decision tree models </p> -->


  <!-- <p data-height="265" data-theme-id="light" data-slug-hash="JJooyB" data-default-tab="css,result" data-user="miguelm" data-embed-version="2" data-pen-title="Pure CSS Dancing Tree" class="codepen">See the Pen <a href="https://codepen.io/miguelm/pen/JJooyB/">Pure CSS Dancing Tree</a> by Miguel Maldonado (<a href="https://codepen.io/miguelm">@miguelm</a>) on <a href="https://codepen.io">CodePen</a>.</p>
  <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script> -->

<!-- Tree -->
<div class="trunk">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% } %>

<!-- tree -->

</div>
