<!-- <h1><%= title %></h1> -->

<!-- <p>Welcome to <%= title %></p> -->
<% if (!isUserLoggedIn) { %>
  <p class="ctrd"> A responsive tool to visualize your decision tree models </p>
<% } %>

<nav class="ctrd">
  <ul>
    <% if (!isUserLoggedIn) { %>
    <!-- <li> <a href="/signup"> Sign Up </a> </li> -->
    <a href="/login" class="ctrd"> Log In   </a>
    <% } else { %>
    <li> <a href="/decisioners"> Admin Section (add edit or delete users) </a> </li>
    <li> <a href="/projects"> My projects </a> </li>
    <% } %>
  </ul>
</nav>
