<div class="tree-button-container tree-div">
    <form class="tree-form">
    <fieldset class="tree-fieldset">
      <h4><p><b>[41.3K] &nbsp; Customers</b></p></h4>
          <div class="tree-inside-box tree-div">
            <p>Good:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bad:</p>
            <p>86% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14%</p>
          </div>
    </fieldset>
    </form>
</div>

<p class="tree-split-variable">payment type</p>

<div class="tree-button-container tree-div">
    <form class="tree-form">
    <fieldset class="tree-fieldset"><legend class="tree-legend"><b>Over-Counter</b>&nbsp;&nbsp;[19.6K]    </legend>
          <div class="tree-inside-box tree-div">
            <p>Good:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bad:</p>
            <p>80% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20%</p>
          </div>
    </fieldset>
    </form>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form class="tree-form">
    <fieldset class="tree-fieldset">
        <legend class="tree-legend"><b>Payroll Deduction</b>&nbsp;&nbsp;[21.7K]    </legend>
          <div class="tree-inside-box tree-div">
            <p>Good:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bad:</p>
            <p>86% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14%</p>
          </div>
    </fieldset>
    </form>
</div>
<br>
<p class="tree-split-variable">customer type
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;
pensioner
</p>

<div class="tree-button-container">
    <form class="tree-form">
    <fieldset class="tree-fieldset">
        <legend class="tree-legend"><b>Former Customer</b>&nbsp;&nbsp;[13.9K]    </legend>
          <div class="tree-inside-box tree-div">
            <p>Good:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bad:</p>
            <p>80% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20%</p>
          </div>
    </fieldset>
    </form>

    <form class="tree-form">
    <fieldset class="tree-fieldset">
        <legend class="tree-legend"><b>Present Customer</b>&nbsp;&nbsp;[5.7K]    </legend>
          <div class="tree-inside-box tree-div">
            <p>Good:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bad:</p>
            <p>89% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11%</p>
          </div>
    </fieldset>
    </form>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="tree-form">
    <fieldset class="tree-fieldset">
        <legend class="tree-legend"><b>not pensioner</b> &nbsp;&nbsp;[18.2K]    </legend>
          <div class="tree-inside-box tree-div">
            <p>Good:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bad:</p>
            <p>89% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11%</p>
          </div>
    </fieldset>
    </form>

    <form class="tree-form">
    <fieldset class="tree-fieldset">
        <legend class="tree-legend"><b>pensioner</b>&nbsp;&nbsp;[3.5K]    </legend>
          <div class="tree-inside-box tree-div">
            <p>Good:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bad:</p>
            <p>97% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3%</p>
          </div>
    </fieldset>
    </form>

</div>
